* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

header {
    background: #FFF8F3;
    background-image: url('/images/header_bg.png'), url('/images/developer.png');
    background-position: bottom right, left;
    background-repeat: no-repeat;
    padding-top: 10px;

}

/* header & navigation style */

.nav-tittle {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin-left: 50px;
}

.btn-primary {
    width: 150px;
    height: 64px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
}

.nav-t {
    height: 27px;
    width: 190px;
    margin-top: 18px;
    left: 980px;
    font-size: 20px;
    line-height: 28px;
}

.intro {
    margin: 0px 200px;
    display: flex;
}

.intro h3 {
    font-size: 45px;
    font-weight: 600px;
}

.intro h1 {
    font-size: 85px;
    font-weight: 700px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;

}

.btn-second {
    border: 1px solid #FD6E0A;
    width: 165px;
    height: 64px;
    border-radius: 5px;
    color: #FD6E0A;
    font-weight: bolder;
    font-size: 20px;
}

.intro-tittle {
    margin-top: 150px;
}

/* main styles */

.about-me {
    margin: 100px 230px;
    background-color: #FFF8F3;
}

.about-main {
    padding: 130px 155px;
    border-radius: 10px;
}

.about-me h3 {
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
    margin-bottom: 30px;
}

.about-me p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    text-align: center;
}

.about-type {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
}

.whatdo {
    margin: 100px 230px;
}

.whatdo h3 {
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
    margin-bottom: 30px;
}

.whatdo p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    text-align: center;
}

.whatdo-container {
    display: flex;
}

.whatdo-container h3 {
    font-size: 20px;
    font-weight: 700px;
    text-align: left;
    margin-top: 30px;
}

.whatdo-container p {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.whatdo-container img {
    width: 44px;
    height: 44px;
}

.whatdo-container div {
    padding: 30px 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-right: 24px;
}

.whatdo-main {
    padding: 130px 155px;
}

.resume {
    margin: 130px 230px;
}

.resume-tittle {
    font-size: 35px;
    font-weight: 700px;
    margin-bottom: 130px;
    text-align: center;
}

.resume-cointainer {
    display: flex;
}

.resume-cointainer h3 {
    font-size: 30px;
    font-weight: 700px;
    margin-bottom: 30px;
}

.resume-cointainer h4 {
    font-size: 25px;
    font-weight: 700px;
    margin-bottom: 10px;
}

.resume-cointainer h5 {
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
    color: #757575;
}

.resume-cointainer p {
    color: #757575;
    margin-bottom: 20px;
}

.my-education {
    padding-right: 24px;
}

.resume button {
    margin: 20px 750px 20px 650px;
}

.contact {
    background: #FFF8F3;
}

.contact-container {
    margin: 0px 230px;
    padding: 130px 0px;
    display: flex;
    justify-content: space-between;
}

.contact-container h2 {
    font-size: 35px;
    font-weight: 700px;
    padding-bottom: 20px;
}

.contact-container p {
    color: #474747;
    padding-bottom: 30px;
}

.contact-container img {
    padding-right: 15px;
}

.connect {
    width: 570px;
}

.message {
    width: 570px;
}

.message input {
    width: 461px;
    height: 64px;
    margin: 26px 0px;
    border-radius: 5px ;
    border: none;
}

#noman{
    width: 461px;
    height: 180px;
    border: none;
    border-radius: 5px;
}
.message button {
    margin-top: 20px;
}
footer{
    background: #FFF8F3;
    color:#FD6E0A;
    height: 40px;
    text-align: center;
}
footer p{
    padding-top: 15px;
}